/Solutions/C#/Solutions.cs
/Solutions/C#/LeetCode.csproj
/Solutions/C#/bin/Debug/net6.0/LeetCode.deps.json
/Solutions/C#/bin/Debug/net6.0/LeetCode.runtimeconfig.json
/Solutions/C#/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Solutions/C#/obj/Debug/net6.0/LeetCode.AssemblyInfo.cs
/Solutions/C#/obj/Debug/net6.0/LeetCode.GeneratedMSBuildEditorConfig.editorconfig
/Solutions/C#/obj/Debug/net6.0/LeetCode.GlobalUsings.g.cs
/Solutions/C#/obj/Debug/net6.0/LeetCode.csproj.BuildWithSkipAnalyzers
/Solutions/C#/obj/Debug/net6.0/LeetCode.csproj.FileListAbsolute.txt
/Solutions/C#/obj/LeetCode.csproj.nuget.dgspec.json
/Solutions/C#/obj/LeetCode.csproj.nuget.g.props
/Solutions/C#/obj/LeetCode.csproj.nuget.g.targets
/Solutions/C#/obj/project.assets.json
/Solutions/CSharp/bin/Debug/net6.0/LeetCode.deps.json
/Solutions/CSharp/bin/Debug/net6.0/LeetCode.runtimeconfig.json
/Solutions/CSharp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Solutions/CSharp/obj/Debug/net6.0/LeetCode.AssemblyInfo.cs
/Solutions/CSharp/obj/Debug/net6.0/LeetCode.GeneratedMSBuildEditorConfig.editorconfig
/Solutions/CSharp/obj/Debug/net6.0/LeetCode.GlobalUsings.g.cs
/Solutions/CSharp/obj/Debug/net6.0/LeetCode.csproj.BuildWithSkipAnalyzers
/Solutions/CSharp/obj/Debug/net6.0/LeetCode.csproj.FileListAbsolute.txt
/Solutions/CSharp/obj/LeetCode.csproj.nuget.dgspec.json
/Solutions/CSharp/obj/LeetCode.csproj.nuget.g.props
/Solutions/CSharp/obj/LeetCode.csproj.nuget.g.targets
/Solutions/CSharp/obj/project.assets.json
/Solutions/CSharp/Solutions.cs
/Solutions/C++/.idea
/Solutions/C++/cmake-build-debug
/Solutions/C++/CMakeLists.txt
/Solutions/C++/main.cpp
/make
/.vs
